body {
    font-family: 'DM Serif Display', serif;
    margin: 0;
}

#small {
    width: 100%;
}

.taka {
    padding-top: 80px;
    text-align: center;
}

#half-width {
    width: 50%;
}


.top {
    position: absolute;
    top: 50%;
    widows: 100%;
    text-align: center;
    color: aliceblue;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 20%;
}


.block {
    display: inline;
}

#font-size {
    font-size: 43px;
}

#donate {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
}

.down {
    padding-top: 70px;
}

#canter {
    text-align: center;
}

#display {
    margin-left: 40%;
    margin-right: 40%;
    display: block;
}

.row {
    padding-top: 80px;
    margin-left: 30%;
}

#tan {
    display: inline;
    margin: 7px;
    padding: 40px;
    background-color: ghostwhite;

}

.box {
    color: red;
    border: 2px solid red;
    background-color: brown;
}

.need {
    padding-top: 80px;
    text-align: center;
}

.now {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(orange, tomato);
}

.plan {
    text-align: center;
    padding-top: 70px;

}

#chota {
    margin-left: 40%;
    margin-right: 40%;
}

.flex {
    display: flex;
    padding-top: 50px;
}

.ntg {
    margin-left: 80px;
    margin-right: 80px;
    background-color: aliceblue;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#change {
    background-color: blanchedalmond;
}

#right {
    background-color: cornsilk;
}

.omg {
    display: flex;
    padding-top: 80px;
}

.ahmed {
    width: 50%;
    padding-left: 100px;
    padding-right: 180px;
}

#inline {
    display: block;
}

#id {
    font-size: 50px;
}

#btn {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 20px;

}

.long {
    display: flex;
    padding-top: 150px;
}

.class {
    text-align: center;
    text-decoration: none;
    padding-left: 30%;
    padding-right: 30%;
}

.nai {
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;

}

button {
    background-color: red;
    font-size: 25px;
}

#input {
    background-color: aliceblue;
    font-size: 25px;
}

.container {
    padding-top: 100px;
}

.black {
    background-color: black;
    margin-top: 100px;
    padding: 40px 50px;
}

.bb {
    text-align: center;
    color: white;
}